# DATA SCIENCE

This notebook demonstrates the different Data science languages,libraries,tools and many more functions performed in data science.

## Data science languages
1. Python
2. Scala
3. R
4. SQL
5. Julia

## Data science Libraries
1. Numpy
2. Pandas
3. Seaborn
4. Tensorflow
5. Matplotlib
6. ggplot2
7. Keras
8. Pytorch
9. Statsmodels
10. Xgboost

# Table of Data science tools
|S no.| Tool|
|-----|--------|
|1. | Tensorflow|
|2. | Anaconda|
|3. | Jupyter notebook|
|4. | PyTorch|
|5. | Apache Spark|
|6. | Git|
|7. | Hadoop|
|8. | Tableau|

## "Now, we will explore some basic arithmetic expressions to demonstrate fundamental mathematical operations in Data science"

In [2]:
# Multiplying 2 numbers
multiplication_result = 20*17

# Adding 2 Numbers
addition_result = 34+76

# Display the results
print(f"Multiplication result: {multiplication_result}")
print(f"Addition result: {addition_result}")

Multiplication result: 340
Addition result: 110

In [15]:
# Convert minutes to hours
minutes= 180 
hours= minutes / 60
# Display the result
print(f"{minutes} minutes is equal to {hours} hours.")

180 minutes is equal to 3.0 hours.

## Some fundamental arithmetic functions used in data science are
- Addition
- Subtraction
- Multiplication
- Division
- Modulo
- Mean
- Median
- Variance
- Standard deviation
- Exponentiation

# Author's name:
## ADARSH VIJ